@use './../../../scss/var' as *;

:host {
  width: 100%;
  display: flex;
  border: 1px solid $prime-dark;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

div.info {
  padding-left: 0.5rem;
  h2 {
    font-size: 2rem;
    color: $prime-dark;
    span {
      color: $white;
      font-size: 1rem;
    }
  }
  h1 {
    font-size: 1.2rem;
    color: $second-dark;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
}
