<div class="info">
  @if (plugin.version !== plugin.latest) {
    <h2>{{plugin.name}} <span class="old">{{plugin.version}}</span></h2>
   } @else {
    <h2>{{plugin.name}} <span >{{plugin.version}}</span></h2>
  }
  <h1>von {{plugin.author}}</h1>
  <p>{{plugin.beschreibung}}</p>
</div>

<div class="buttons">
  @if (pluginKey !== '__core__') {
    <button class="delete" (click)="removePlugin()"><mat-icon>delete</mat-icon>Löschen</button>
  }
  @if (plugin.version !== plugin.latest) {
    <button (click)="updatePlugin()"><mat-icon>install_desktop</mat-icon>Update</button>
  }
</div>