// Color Palette
$prime: #4FC3F7;
$prime-dark: #0D47A1;
$second: #95a5a6;
$second-dark: #2c3e50;
$black: #000000;
$white: #ffffff;
$red: #e74c3c;
$green: #27ae60;

// Fonts
$font1: "Roboto Condensed", sans-serif;
$font2: "Roboto", sans-serif;