<header>
  <div class="left">
    <h1>smart<br><span>Mirror</span></h1>
    <div class="form">
      <label for="display">Display auswählen:</label>
      <select name="display" id="display" [(ngModel)]="selectedDisplay" (change)="onChangeSelection($event)" [compareWith]="compareKeys">
        <option *ngIf="displayList.size <= 0" value="" disabled>kein Display vorhanden</option>
        <option 
        *ngFor="let display of displayList | keyvalue; trackBy: trackById"
        [value]="display.key">{{ display.value.name }} - {{display.value.height}}:{{display.value.width}} ({{display.value.point_size}}px) </option>
      </select>
    </div>
    <button (click)="createNewDisplay($event)"><mat-icon>add_to_queue</mat-icon></button>
  </div>
  <div id="nav">
    <app-template-header-nav></app-template-header-nav>
  </div>
</header>