<div class="content">
  <div class="select">
    @if (selected) {
      <mat-icon>task_alt</mat-icon>
    }
    @if (!selected) {
      <mat-icon>radio_button_unchecked</mat-icon>
    }
  </div>
  <div class="title">
    <h2>{{display.name}}</h2>
    @if (display.widgets.length == 1) {
      <p>{{display.widgets.length}}x Widget </p>
    }
    @if (display.widgets.length != 1) {
      <p>{{display.widgets.length}}x Widgets </p>
    }
  </div>
  <div class="details">
    <p>Höhe: {{display.height}}px</p>
    <p>Breite: {{display.width}}px</p>
    <p>Pixel: {{display.point_size}}x{{display.point_size}}px</p>
  </div>
  <div class="buttons">
    <button (click)="edit($event)"><mat-icon>edit</mat-icon>Bearbeiten</button>
    <button class="delete" (click)="remove($event)"><mat-icon>delete</mat-icon>Löschen</button>
  </div>
</div>




