@import './../../../scss/var';

// ##########################################################
// ##########################################################
// ##########################################################

div.grid {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), var(--point-size));
  grid-template-rows: repeat(var(--grid-rows), var(--point-size));
  row-gap: 1rem;
  column-gap: 1rem;
  overflow: hidden;
  justify-content: center;
}