@use './../../../scss/var' as *;

// ##########################################################
// ##########################################################
// ##########################################################

h1 {
  text-align: center;
  font-weight: normal;

  span {
    color: $prime-dark;
    font-weight: bold;
  }
}

div#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

div#addressSearch {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  input {
    width: 45rem;
    padding-left: 1rem;
    background: none;
    border: none;
    border-bottom: 1px solid $prime-dark;
    outline: none;
    color: #fff;
  }
}

div#map {
  display: block;
  min-height: 49.5rem;
  min-width: 49.5rem;
  // border: 1px solid $prime;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 0.5rem;
}