@use './../../../scss/var' as *;

// ##########################################################
// ##########################################################
// ##########################################################

div#map {
  display: block;
  height: 60rem;
  width: 60rem;
  border: 1px solid $prime;
  overflow: hidden;
  margin-top: 1rem;
}