@import './../../../scss/var';

// ##########################################################
// ##########################################################
// ##########################################################

div#map {
  display: block;
  height: 60rem;
  width: 60rem;
  border: 1px solid $prime;
  overflow: hidden;
}