@use './../../scss/var' as *;

// ##########################################################
// ##########################################################
// ##########################################################

div.content {
  padding: 1rem;
  display: flex;
  justify-content: center;

  div {
    margin: 0 2.5rem;
  }

  div.display {
    min-width: 40rem;
  }
  div.settings {
    min-width: 50rem;
  }
  div.plugins {
    min-width: 35rem;

    button {
      width: 100%;
      font-weight: bold;
    }
  }
}