@import './../../scss/var';

// ##########################################################
// ##########################################################
// ##########################################################

div.content {
  padding: 1rem;
  display: flex;

  div.display {
    min-width: 45rem;
    padding-right: 1rem;
  }
  div.settings {
  }
}