<app-template-header></app-template-header>
<div class="content">
  <div class="display">
    @for (display of displayList | keyvalue; track display.key) {
      <app-template-display
        [display]="display.value"
    [ngClass]="{
      'selected' : display.key === selectedId,
    }"
      ></app-template-display>
    }
  </div>
  <div class="settings">
    <h1>Einstellungen für {{displayList.get(selectedId)?.name}}</h1>
    <h3>Standort: {{displayList.get(selectedId)?.location?.lat}} | {{displayList.get(selectedId)?.location?.lon}}</h3>
    <app-template-location [location]="getLocation()"></app-template-location>
  </div>
</div>