<app-template-header></app-template-header>
<div class="content">
  <div class="display">
    @for (display of displayList | keyvalue; track display.key) {
      <app-template-display
        [display]="display.value"
    [ngClass]="{
      'selected' : display.key === selectedId,
    }"
      ></app-template-display>
    }
  </div>
  <div class="settings">
    <!-- <h1>Einstellungen für {{displayList.get(selectedId)?.name}}</h1> -->
    <app-template-location [location]="getLocation()" [display]=displayList.get(selectedId)></app-template-location>
  </div>
</div>