@use './../../../scss/var' as *;

// ##########################################################
// ##########################################################
// ##########################################################

:host {
  background-color: $second-dark;
  transition: all 250ms;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  

  &.placeholder {
    background-color: $second;
    border: dashed 0.2rem $second-dark;
    color: $second-dark;
    z-index: 1;

    &.edit {
      background-color: $prime;
      cursor: pointer;
      &:hover {
        background-color: $prime-dark;
        color: $white;
      }
      &.selected {
        background-color: $green;
      }
    }
  }
}

div.widgetMenu,
div.settingsMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  mat-icon.settingsButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  mat-icon.deleteButton {
    color: $red;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
  }

  mat-icon.editButton {
    position: absolute;
    top: 1rem;
    right: 4.5rem;
    cursor: pointer;
  }

  h1.widgetTitle {
    position: absolute;
    top: 1rem;
    text-align: center;
  }
}

div.widgetMenu {
  h1 {
    text-align: center;
  }
}

div.settingsMenu {
  div.config {
    width: 100%;
    height: 90%;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}