<!-- ##########################################################
Placeholder Widget
########################################################## -->

@if (widget.name == 'placeholder') {
  <div class="widgetMenu" (click)="selectPlacholderWidget($event)">
    <h2>start: {{widget.point_start.x}}:{{widget.point_start.y}}</h2>
    <h2>ende: {{widget.point_end.x}}:{{widget.point_end.y}}</h2>
  </div>
}

<!-- ##########################################################
Widget
########################################################## -->

@if (!showSettings && widget.name != 'placeholder') {
  <div class="widgetMenu">
    <h1>{{widget.name}}</h1>
    <h2>start: {{widget.point_start.x}}:{{widget.point_start.y}}</h2>
    <h2>ende: {{widget.point_end.x}}:{{widget.point_end.y}}</h2>
    <mat-icon (click)="showSettings=!showSettings" class="settingsButton">settings</mat-icon>
  </div>
}

@if (showSettings) {
  <div class="settingsMenu">
    <mat-icon (click)="showSettings=!showSettings" class="settingsButton">close</mat-icon>
    <mat-icon (click)="deleteWidget($event)" class="deleteButton">delete</mat-icon>
    <h2>{{widget.name}}</h2>
  </div>
}