<div class="widgetMenu" *ngIf="showSettings == false">
  <h1 *ngIf="widget.name != 'placeholder'">{{widget.name}}</h1>
  <h2>start: {{widget.point_start.x}}:{{widget.point_start.y}}  </h2>
  <h2>ende: {{widget.point_end.x}}:{{widget.point_end.y}}  </h2>
  <mat-icon *ngIf="widget.name != 'placeholder'" (click)="switchShowSettings()" class="settingsButton">settings</mat-icon>
</div>

<div class="settingsMenu" *ngIf="showSettings == true">
  <mat-icon (click)="switchShowSettings()" class="settingsButton">close</mat-icon>
  <mat-icon (click)="deleteWidget($event)" class="deleteButton">delete</mat-icon>
  <h2>{{widget.name}}</h2>


</div>